<ul class="pull-right h-menu">
	<li class="hm-search-trigger">
		<a href="#" data-ma-action="search-open"> <i class="hm-icon zmdi zmdi-search"></i> </a>
	</li>
	<li class="dropdown hm-profile">
		<a data-toggle="dropdown" href="#"> <img src="{{baseUrl()}}/assets/images/avatar/{{ user.avatar }}" alt=""> </a>

		<ul class="dropdown-menu pull-right dm-icon">
			{% if (user.user_type == 2 and user.is_registered == 1 and user.is_leader == 1) %}
			<li>
				<a href="/member/purchase/codes"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Purchase Activation Code</a>
			</li>
			{% endif %}
			{% if (user.is_registered == 1) %}
			<li>
				<a href="/member/geneology/{{user.ref_code}}"><i class="zmdi zmdi-device-hub zmdi-hc-fw"></i> Platforms</a>
			</li>
			<li>
				<a href="/profile/{{ user.id }}"><i class="zmdi zmdi-account"></i> View Profile</a>
			</li>
			{% endif %}
			<li>
				<a href="{{ urlFor('logout') }}"><i class="zmdi zmdi-time-restore"></i> Logout</a>
			</li>
		</ul>
	</li>
</ul>