<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{{title}}</title>

<link rel="apple-touch-icon" sizes="57x57"
	href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60"
	href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72"
	href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76"
	href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114"
	href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120"
	href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144"
	href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152"
	href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180"
	href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
	href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="{{assetUrl}}img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="{{assetUrl}}img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="{{assetUrl}}img/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Bootstrap Core CSS -->
<link href="{{assetUrl}}landing/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{assetUrl}}landing/css/landing-page.css" rel="stylesheet">

<link href="{{assetUrl}}css/toastr/toastr.min.css" rel="stylesheet">

<!-- Custom Fonts 
<link href="{{assetUrl}}landing/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link
	href="{{assetUrl}}landing/css/cssea9f.css?family=Lato:300,400,700,300italic,400italic,700italic"
	rel="stylesheet" type="text/css">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top topnav"
		role="navigation">
		<div class="container topnav">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand topnav" href="#">Upnext Online Shop</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#products">Products</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#mv">Mission Vision</a></li>
					<li><a href="#news">News Update</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>


	<!-- Header -->
	<div class="intro-header">
		<div class="container">

			<div class="intro-message">
				<div class="row">
					<div class="col-lg-12">
						<img class="img-responsive" src="{{assetUrl}}img/upnextlogo.png" style="width: 50%; height: auto;" />
						<hr class="intro-divider">
						<ul class="list-inline intro-social-buttons">
							<li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="network-name">ENTER ONLINE SHOP</span></a></li>
							<li><a href="#login-modal" data-toggle="modal"  class="btn btn-default btn-lg"><i class="fa fa-users" aria-hidden="true"></i> <span class="network-name">MEMBERS LOGIN</span></a></li>
							<li><a href="#registration-modal" data-toggle="modal"  class="btn btn-default btn-lg"><i class="fa fa-user-plus" aria-hidden="true"></i> <span class="network-name">REGISTER NOW!</span></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->

	<a name="products"></a>
	<!-- Page Content -->
	<div class="content-section-a">

		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<img class="img-responsive" src="{{assetUrl}}landing/images/sample_products.png" style="width: 100%; height: auto;"/>
				</div>
			</div>
		</div>
		<!-- /.container -->

	</div>
	<!-- /.content-section-a -->
	
	<a name="about"></a>
	<div class="content-section-b">

		<div class="container">

			<div class="row">
				<div class="col-sm-8">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">
						UPNEXT ONLINE SHOP, Your Best Solution
					</h2>
					<p class="lead">
						Flexibility is the key advantage of part-time jobs. Because they work less than a full-time day, they still have time to attend school, recover from an illness, care for family members, volunteer at worthy causes or work at another job for extra income. Those working less than half a day have the choice to work mornings, afternoons or evenings in establishments with longer hours. During busy periods, such as around the Christmas holidays at retailers, part-timers may be called upon to work longer or full-time shifts, which increase their earnings. A worker who shares his position with others in the same job knows that if he gets sick or needs to take a vacation, others can do his work.
					</p>
				</div>
				<div class="col-sm-4">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<img class="img-responsive" src="{{assetUrl}}landing/images/Desc_Image.png" style="width: 120%; height: auto;" />
				</div>
			</div>

		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-b -->
	
	<a name="mv"></a>
	<div class="content-section-b">

		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">
						Mission
					</h2>
					<p class="lead">
						We will provide the best service to earn the trust, to give alternative business oppurtunity and empowering the buyer and seller experience. Mainly, putting each and every dreams online by the use of the state of the art technology available.
					</p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<h2 class="section-heading">
						Vision
					</h2>
					<p class="lead">
						Upnext Online Shop aim to become the largest and the best Online Shop catering each and every household in the world. With this, we will provide the credible, honest and reliable service to each and every customer to have the complete retail experience.
					</p>
				</div>
			</div>

		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-b -->
	
	<div class="content-section-b">

		<div class="container">

			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="clearfix"></div>
					<h2 class="section-heading" align="center">
						CASH IN AND CASH OUT
					</h2>
					<img src="{{assetUrl}}landing/images/upnextpayment.png" style="width: 100%; height: auto;" class="img-responsive"/>
				</div>
			</div>

		</div>
		<!-- /.container -->
	</div>
	<!-- /.content-section-b -->
	
	<a name="news"></a>
	<div class="content-section-a">

		<div class="container">

			<div class="row">
				<div class="col-lg-5 col-sm-6">
					<hr class="section-heading-spacer">
					<div class="clearfix"></div>
					<p class="lead">
						This coming June 17, 2017 at Lucena City witness and experience the first step of reaching your dreams! Come and join us as we show you the once in a lifetime opportunity to gain financial freedom.. be part of the new craze in the millenial world, come and get to the UPNEXT level! See you!
					</p>
				</div>
				<div class="col-lg-5 col-lg-offset-2 col-sm-6">
					<img class="img-responsive" src="{{assetUrl}}landing/images/news_banner.png" alt="" style="width: 100%; height: auto;">
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.content-section-a -->

	<a name="contact"></a>
	<div class="banner">

		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<img class="img-responsive" src="{{assetUrl}}landing/images/contact.png" alt="" style="width: 70%; height: auto;">
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						<li><a href="#download-modal" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-download" aria-hidden="true"></i> <span class="network-name"> Download Gallery</span></a></li>
						<li><a href="#" data-toggle="modal" class="btn btn-default btn-lg"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="network-name"> Contact Admin</span></a></li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.banner -->

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p class="copyright text-muted small">Copyright &copy; Upnext Online Shop 2017. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</footer>
	
	<!-- Modal Login -->
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i> Login to your account</h4>
				</div>
				<form method="post" action="{{ urlFor('do_login') }}">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
									<div class="fg-line">
										<input type="text" required name="username" class="form-control" placeholder="Username" autofocus>
									</div>
								</div>
	
								<br />
	
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
									<div class="fg-line">
										<input type="password" required name="password" class="form-control" placeholder="Password">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-sm">
							Login
						</button>
						<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End of Modal Login -->
	
	<!-- Modal Registration -->
	<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i> Register new account</h4>
				</div>
				<form method="post" action="{{ urlFor('pre_registration') }}">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group fg-float">
									<div class="fg-line">
										<label class="fg-label">Email Address</label>
										<input type="text" name="email" class="input-sm form-control fg-input" required>
									</div>
								</div>
				
								<div class="form-group fg-float">
									<div class="fg-line">
										<label class="fg-label">Full Name</label>
										<input type="text" name="full_name" class="input-sm form-control fg-input" required>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<label class="fg-label">Upnext Packages</label>
							</div>
							<div class="col-sm-12">
								<label> <!-- cash payment method -->
									<input type="radio" name="package_type" value="1" required>
									<i class="input-helper"></i> <b>ONLINE BUSINESS PACKAGE</b> (₱ 1,500.00)
									<ul>
										<li>1 year Online Shop Subscription</li>
										<li>Platform Reward</li>
										<li>Commission Bonus</li>
										<li>POINTS BONUS (Buy/Sell Transactions)</li>
									</ul>
								</label>
							</div>
							<div class="col-sm-12">
								<label> <!-- cash payment method -->
									<input type="radio" name="package_type" value="2" required>
									<i class="input-helper"></i> <b>DIRECT SELLING PACKAGE</b> (₱ 1,500.00)
									<ul>
										<li>₱ 750.00 worth of Voucher for Upnext Products</li>
										<li>Platform Reward</li>
										<li>Commission Bonus</li>
										<li>Leadership Bonus</li>
									</ul>
								</label>
							</div>
							<div class="col-sm-12">
								<label> <!-- cash payment method -->
									<input type="radio" name="package_type" value="3" required>
									<i class="input-helper"></i> <b>ONLINE SELLER PACKAGE</b> (₱ 500.00)
									<ul>
										<li>6 Months Online Shop Subscription</li>
									</ul>
								</label>
							</div>
							<br>
							<div class="col-sm-12">
								<div style="margin-left: 20px;">
									<label><input type="checkbox" id="chk-term"> I Agree with <a href="#" id="chk-term-view">Terms and Conditions</a></label>
								</div>
							</div>
							<div class="col-sm-12" id="terms-conditions" style="background-color: rgba(128, 128, 128, 0.09); display: none;">
								<legend></legend>
								<h4 align="center">Terms and Conditions</h4>
								<ol>
									<li>
										That there is NO Employee-Employer relationship between the member-distributor and Online Shop/MLM.
									</li>
									<li>
										That the member-distributor acknowledges the nature of business, the marketing plan and program of Online Shop/MLM.
									</li>
									<li>
										That the member-distributor would follow the company policies and procedures on sales program, promos, business ethics, administration and sales network management.
									</li>
									<li>
										That the member-distributor agrees to promote respect and discipline towards his co-member, the company and its officers.
									</li>
									<li>
										That the member-distributor understands that the entries made to effect the application is a registration entry with products and services being given as package inclusive within the application. And that said membership fee is non-refundable.
									</li>
									<li>
										That in return, company has the obligation to serve thru its Online Services, agreed service features and corresponding commensurations due to the member. That any dispute would have to be done in WRITTEN Format ONLY properly addressed to Online Shop/MLM or its officers and vice versa. Any verbal invectives, directed towards any member, company officer or even the company itself would be considered scandalous and would therefore warrant a legal action.
									</li>
									<li>
										That any/all legal dispute would have to be coursed thru the courts of the Republic of the Philippines, within the vicinity of the main area of operations of Online Shop/MLM.
									</li>
									<li>
										The company reserve the right to change either the compensation plan or marketing plan without prior notice.
									</li>
									<li>
										That to become a member/distributor I am purchasing the Online Shop/MLM products and its services. And further more that I am aware that they’re no guaranteed income but the potential of earning in the compensation plan.
									</li>
								</ol>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success btn-sm" id="btn-reg-submit">
							Register
						</button>
						<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- End of Modal Registration -->
	
	<!-- Modal Downloads -->
	<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-download" aria-hidden="true"></i> Download Gallery</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 col-sm-12" align="center">
							<a href="{{assetUrl}}landing/images/downloadables/Upnext_registration_form.pdf" download title="Download Registration Form"><i class="fa fa-download" aria-hidden="true"></i> Download Upnext Registration Form</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<a href="{{assetUrl}}landing/images/downloadables/Marketing.png" download><img class="img-responsive" title="Download" src="{{assetUrl}}landing/images/downloadables/Marketing.png" width="600" height="600"></a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a href="{{assetUrl}}landing/images/downloadables/UPNEXT_COMMISSION.png" download><img class="img-responsive" title="Download" src="{{assetUrl}}landing/images/downloadables/UPNEXT_COMMISSION.png" width="600" height="600"></a>
						</div>
						<div class="col-md-12 col-sm-12">
							<a href="{{assetUrl}}landing/images/downloadables/UPNEXT_REWARD.png" download><img class="img-responsive" title="Download" src="{{assetUrl}}landing/images/downloadables/UPNEXT_REWARD.png" width="600" height="600"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal Downloads -->
	
	<!-- jQuery -->
	<script src="{{assetUrl}}landing/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="{{assetUrl}}landing/js/bootstrap.min.js"></script>
	<script src="{{assetUrl}}js/toastr/toastr.min.js"></script>

	<script src="{{assetUrl}}js/backstrectch.js"></script>
	<script>
		// To attach Backstrech as the body's background
		$(".intro-header").backstretch(
				[ "{{assetUrl}}landing/images/landing_1.png",
						"{{assetUrl}}landing/images/landing_2.png" ], {
					duration : 5000
				});

		$(".banner").backstretch(
				[ "{{assetUrl}}landing/images/upnextfooterbkg.png" ], {
					duration : 5000
				});
		
		$("#chk-term-view").click(function(){
			if($('#terms-conditions').is(':visible')) {
				$('#terms-conditions').hide();
			} else {
				$('#terms-conditions').show();
			}
		});
		
		$("#chk-term").change(function(){
			if ($(this).is(":checked")) {
				$("#btn-reg-submit").removeAttr("disabled");
			} else {
				$("#btn-reg-submit").attr("disabled", true);
			}
		}).change();
	</script>
	
	<script>
		{% if flash.message %}
		{% if flash.message_status == true %}
		toastr.success("{{flash.message}}");
		{% else %}
		toastr.error("{{flash.message}}");
		{% endif %}
		{% endif %}

		toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"progressBar" : true,
			"preventDuplicates" : false,
			"positionClass" : "toast-top-right",
			"onclick" : null,
			"showDuration" : "400",
			"hideDuration" : "1000",
			"timeOut" : "7000",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		};
	</script>

</body>

</html>