{% extends 'admin/index.twig' %}

{% block ext_css %}
<link href="{{assetUrl}}vendors/dataTables/datatables.min.css" rel="stylesheet">
<link href="{{assetUrl}}vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body %}
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="index.html" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes view of avatar -->
	{% include 'avatar_menu.twig' %}
</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<ul class="smm-alerts">
			{#
			<li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-email"></i>
			</li>
			<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-notifications"></i>
			</li>
			<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-view-list-alt"></i>
			</li>
			#}
		</ul>
		
		<!-- includes admin side panel navigation -->
		{% include 'admin/admin_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

		</div>

		<div class="card">
			<div class="card-header">
				<h2>Accounts Requesting for Activation <small>lorem ipsum dolor waeetzee.</small></h2>
			</div>
			
			<div class="card-body card-padding">
				<div class="table-responsive">
					<table id="tbl-request-activation" class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Reference Code</th>
								<th>Username</th>
								<th>Full Name</th>
								<th>Email</th>
								<th>Package Type</th>
								<th>Payment Amount</th>
								<th>Payment Method</th>
								<th>Sender BTC Address</th>
								<th>BTC Received Amount</th>
								<th>Action</th>
								<th>Date Created</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>

		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>
{% endblock %}

{% block ext_js %}

<script src="{{assetUrl}}vendors/dataTables/datatables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#tbl-request-activation").dataTable({
			"processing" : true,
			"serverSide" : true,
			"ajax" : {
				"url" : "{{ urlFor('admin_activation_paginated_list') }}",
				"type" : "POST",
				"data" : {}
			},
			drawCallback : function(response) {
				console.log(response.json);
			}
		});
	}); 
</script>

{% endblock %}