{% extends 'admin/index.twig' %}
{% block body %}
<link href="{{assetUrl}}vendors/bower_components/lightgallery/dist/css/lightgallery.min.css" rel="stylesheet">
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="index.html" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes view of avatar -->
	{% include 'avatar_menu.twig' %}
</header>

<section id="main">
	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

			<div class="card">
				<div class="card-header">
					<h3>Proof of Payments <small>lorem ipsum dolor waeetzee.</small></h3>
					<p>
						<a href="/admin/activation">Back to Admin Activation</a>
					</p>
				</div>

				<div class="card-body card-padding">
					<div class="card-body card-padding">
						<div class="lightbox photos">
							{% for purchase_proof in purchase_proofs %}
							<div data-src="{{ baseUrl ~ purchase_proof.file_name }}" class="col-md-2 col-sm-4 col-xs-6">
								<div class="lightbox-item p-item">
									<img src="{{ baseUrl ~ purchase_proof.file_name }}" alt="" />
								</div>
							</div>
							{% endfor %}
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

<script src="{{assetUrl}}vendors/bower_components/lightgallery/dist/js/lightgallery-all.min.js"></script>
{% endblock %}