{% extends 'member/index.twig' %}
{% block body %}

<input type="hidden" value="{{active_menu}}" name="module_name" />
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes avatar menu -->
	{% include 'avatar_menu.twig' %}

	<div class="media-body h-search">
		<form class="p-relative">
			<input type="text" class="hs-input" name="search_bar" placeholder="Search member, enter username....">
			<i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
		</form>
	</div>

</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<ul class="smm-alerts">
			{#
			<li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-email"></i>
			</li>
			<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-notifications"></i>
			</li>
			<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-view-list-alt"></i>
			</li>
			#}
		</ul>
		
		<!-- includes member side panel navigation -->
		{% include 'member/member_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

			<div class="card">
				<div class="card-header">
					<h2>Stub/Vouchers 
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					{% for voucher in vouchers %}
						<div class="row">
							<div class="col-md-12">
								{% if (voucher.is_used == 0) %}
									<a href="/{{ voucher.image_path }}" download><img src="/{{ voucher.image_path }}" width="100%" height="auto" /></a>
								{% else %}
									<img src="/{{ voucher.image_path }}" width="100%" height="auto" />
								{% endif %}
							</div>
						</div>
						<br>
					{% endfor %}
				</div>

			</div>
		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
	
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

<!-- INTERNAL JAVASCRIPT -->
<script src="{{assetUrl}}js/geneology.js"></script>
<script>
	var active_table = "{{table}}";
	
	loadGeneology("{{user_id}}", active_table, function(response) {
		console.log(response);
		if ((response.uid === "null" || response.uid == -1) && (active_table == 1) && "{{dynamic_user.is_leader}}" == 1) {
			showModalAddMember(response);
		}
	}, function(data) {
		console.log(data);
		displayDetails(data);
	}); 
	
	$("[name=search_bar]").keyup(function() {
		$.get("/api/validate/dr/" + this.value, function(response) {
			var user_id = (response.status === "success") ? response.user.id : "{{user_id}}";
			var table = active_table;
			loadGeneology(user_id, table, function(response) {
				console.log(response);
				if ((response.uid === "null" || response.uid == -1) && (active_table == 1) && "{{dynamic_user.is_leader}}" == 1) {
					showModalAddMember(response);
				}
			}, function(data) {
				console.log(data);
				displayDetails(data);
			});
		}).fail(function(error) {
			console.log(error);
		});
	}); 
	
	$("#table_select").change(function(){
		active_table = this.value;
		
		loadGeneology("{{user_id}}", active_table, function(response) {
			console.log(response);
			if ((response.uid === "null" || response.uid == -1) && (active_table == 1) && "{{dynamic_user.is_leader}}" == 1) {
				showModalAddMember(response);
			}
		}, function(data) {
			console.log(data);
			displayDetails(data);
		}); 
	});
	
	function showModalAddMember(response) {
		$("input[name=head_ref_code]").val(response.head_ref_code);
		$("input[name=head_username]").val(response.head_username);
		$("input[name=position]").val(response.position);
		$("#head_label").val(response.head_username);
		$("#position_label").val(response.position + " of " + response.head_username);
		$("#modalWider").modal("show");
	}
	
	function displayDetails(data) {
		$("#left-label-count").text(data.heirarchy.LEFT);
		$("#right-label-count").text(data.heirarchy.RIGHT);
	}
</script>

{% endblock %}