{% extends 'member/index.twig' %}

{% block ext_css %}
<link href="{{assetUrl}}vendors/dataTables/datatables.min.css" rel="stylesheet">
<link href="{{assetUrl}}vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body %}

<input type="hidden" value="{{active_menu}}" name="module_name" />
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes avatar menu -->
	{% include 'avatar_menu.twig' %}

	<div class="media-body h-search">
		<form class="p-relative">
			<input type="text" class="hs-input" name="search_bar" placeholder="Search member, enter username....">
			<i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
		</form>
	</div>

</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<ul class="smm-alerts">
			{#
			<li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-email"></i>
			</li>
			<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-notifications"></i>
			</li>
			<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-view-list-alt"></i>
			</li>
			#}
		</ul>
		
		<!-- includes member side panel navigation -->
		{% include 'member/member_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

			<div class="card">
				<div class="card-header">
					<h2>Platform 1 Exit
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-exit-1" class="table table-striped">
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Username</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h2>Platform 2 Exit
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-exit-2" class="table table-striped">
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Username</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h2>Platform 3 Exit
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-exit-3" class="table table-striped">
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Username</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h2>Platform 4 Exit
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-exit-4" class="table table-striped">
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Username</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h2>Platform 5 Exit
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-exit-5" class="table table-striped">
							<thead>
								<tr>
									<th>Full Name</th>
									<th>Username</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
	
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}vendors/dataTables/datatables.min.js"></script>
<script>
$("#tbl-exit-1").dataTable({
	"processing" : true,
	"serverSide" : true,
	"ajax" : {
		"url" : "{{ urlFor('exit_paginated_list') }}",
		"type" : "POST",
		"data" : {'table' : 1}
	},
	drawCallback : function(response) {
		console.log(response.json);
	}
});
$("#tbl-exit-2").dataTable({
	"processing" : true,
	"serverSide" : true,
	"ajax" : {
		"url" : "{{ urlFor('exit_paginated_list') }}",
		"type" : "POST",
		"data" : {'table' : 2}
	},
	drawCallback : function(response) {
		console.log(response.json);
	}
});
$("#tbl-exit-3").dataTable({
	"processing" : true,
	"serverSide" : true,
	"ajax" : {
		"url" : "{{ urlFor('exit_paginated_list') }}",
		"type" : "POST",
		"data" : {'table' : 3}
	},
	drawCallback : function(response) {
		console.log(response.json);
	}
});
$("#tbl-exit-4").dataTable({
	"processing" : true,
	"serverSide" : true,
	"ajax" : {
		"url" : "{{ urlFor('exit_paginated_list') }}",
		"type" : "POST",
		"data" : {'table' : 4}
	},
	drawCallback : function(response) {
		console.log(response.json);
	}
});
$("#tbl-exit-5").dataTable({
	"processing" : true,
	"serverSide" : true,
	"ajax" : {
		"url" : "{{ urlFor('exit_paginated_list') }}",
		"type" : "POST",
		"data" : {'table' : 5}
	},
	drawCallback : function(response) {
		console.log(response.json);
	}
});
</script>
{% endblock %}