{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header module-head">
		<h1>{{ title }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="box box-success box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">PENDING ONLINE PURCHASES</h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<table id="table-pending" style="overflow-x:scroll" class="table datatable table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>TRANSACTION NO</th>
							<th>DATE REQUEST</th>
							<th>TIME REQUEST</th>
							<th>REQUEST BY</th>
							<th>GATEWAY</th>
							<th>AMOUNT</th>
							<th>DATE_SENT</th>
							<th>TIME_SENT</th>
							<th>REFERENCE NO</th>
							<th>NO OF CODES</th>
							<th>ACTION</th>
						</tr>
					</thead>
					<tbody>
						{% for req in pending_requests %}
						{% set total = 12000 * req.no_of_codes %}
						<tr>
							<form method="post" action="{{baseUrl()}}/admin/onlinepurchases/reviewTransaction" role="form">
								<td> {{ req.id }}
								<input type="hidden" name="transaction_id" value={{ req.id }}>
								</td>
								<td>{{ req.created_at|date('Y-m-d') }}</td>
								<td>{{ req.created_at|date('h:i a') }}</td>
								<td>{{ req.username }}</td>
								<td>{{ req.gateway }}</td>
								<td>P{{ total|number_format(2, '.', ',') }}</td>
								<td>{{ req.date_sent|date('Y-m-d') }}</td>
								<td>{{ req.time_sent|date("h:i a") }}</td>
								<td><a href="#" data-toggle="modal" data-target="#modal-reference-details-{{ req.reference_no }}">{{ req.reference_no }}</a></td>
								<td>{{ req.no_of_codes }}</td>
								<td>
								<input type="hidden" name="form_secret" id="form_secret" value="{{ form_secret }}" />
								<button name="approved" value="1" type="submit" class="btn btn-block btn-success btn-xs">
									Approve
								</button>
								<button name="cancelled" value="1" type="submit"class="btn btn-block btn-danger btn-xs">
									Disapprove
								</button></td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>TRANSACTION NO</th>
							<th>DATE REQUEST</th>
							<th>TIME REQUEST</th>
							<th>REQUEST BY</th>
							<th>GATEWAY</th>
							<th>AMOUNT</th>
							<th>DATE_SENT</th>
							<th>TIME_SENT</th>
							<th>REFERENCE NO</th>
							<th>NO OF CODES</th>
							<th>ACTION</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->

		<div class="box box-success table-responsive box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">APPROVED PURCHASES</h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<table id="table-approved" class="table datatable table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>TRANSACTION NO</th>
							<th>DATE REQUEST</th>
							<th>TIME REQUEST</th>
							<th>REQUEST BY</th>
							<th>GATEWAY</th>
							<th>AMOUNT</th>
							<th>DATE_SENT</th>
							<th>TIME_SENT</th>
							<th>REFERENCE NO</th>
							<th>NO OF CODES</th>
							<th>STATUS</th>
						</tr>
					</thead>
					<tbody>
						{% for req in requests %}
						{% set total2 = 12000 * req.no_of_codes %}
						<tr>
							<td>{{ req.id }}</td>
							<td>{{ req.created_at|date('Y-m-d') }}</td>
							<td>{{ req.created_at|date('h:i a') }}</td>
							<td>{{ req.requestee_username }}</td>
							<td>{{ req.gateway }}</td>
							<td>P{{ total2|number_format(2, '.', ',') }}</td>
							<td>{{ req.date_sent|date('Y-m-d') }}</td>
							<td>{{ req.time_sent|date("h:i a") }}</td>
							<td>{{ req.reference_no }}</td>
							<td>{{ req.no_of_codes }}</td>
							<td>{{ req.name }} by {{ req.admin_username }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>TRANSACTION NO</th>
							<th>DATE REQUEST</th>
							<th>TIME REQUEST</th>
							<th>REQUEST BY</th>
							<th>GATEWAY</th>
							<th>AMOUNT</th>
							<th>DATE_SENT</th>
							<th>TIME_SENT</th>
							<th>REFERENCE NO</th>
							<th>NO OF CODES</th>
							<th>STATUS</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->

		<div class="box box-success table-responsive box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">CANCELLED PURCHASES</h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<table id="table-cancelled" class="table datatable table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>TRANSACTION NO</th>
							<th>DATE REQUEST</th>
							<th>TIME REQUEST</th>
							<th>REQUEST BY</th>
							<th>GATEWAY</th>
							<th>AMOUNT</th>
							<th>DATE_SENT</th>
							<th>TIME_SENT</th>
							<th>REFERENCE NO</th>
							<th>NO OF CODES</th>
							<th>STATUS</th>
						</tr>
					</thead>
					<tbody>
						{% for req in cancelled_requests %}
						{% set total2 = 12000 * req.no_of_codes %}
						<tr>
							<td>{{ req.id }}</td>
							<td>{{ req.created_at|date('Y-m-d') }}</td>
							<td>{{ req.created_at|date('h:i a') }}</td>
							<td>{{ req.requestee_username }}</td>
							<td>{{ req.gateway }}</td>
							<td>P{{ total2|number_format(2, '.', ',') }}</td>
							<td>{{ req.date_sent|date('Y-m-d') }}</td>
							<td>{{ req.time_sent|date("h:i a") }}</td>
							<td>{{ req.reference_no }}</td>
							<td>{{ req.no_of_codes }}</td>
							<td>{{ req.name }} by {{ req.admin_username }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>TRANSACTION NO</th>
							<th>DATE REQUEST</th>
							<th>TIME REQUEST</th>
							<th>REQUEST BY</th>
							<th>GATEWAY</th>
							<th>AMOUNT</th>
							<th>DATE_SENT</th>
							<th>TIME_SENT</th>
							<th>REFERENCE NO</th>
							<th>NO OF CODES</th>
							<th>STATUS</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</section><!-- /.content -->

	<!-- Modal -->
	{% for req in pending_requests %}
	<div class="modal fade" id="modal-reference-details-{{ req.reference_no }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Reference No. <b>{{ req.reference_no }}</b></h4>
				</div>
				<div class="modal-body">
					<!-- modal details here -->
					<table class="table">
						<tbody>
							<tr class="act-tbl-head">
								<th colspan="2">TRANSACTION DETAILS</th>
							</tr>
							<tr>
								<th width="200px">Senders Name:</th><td>{{ req.sender_name }}</td>
							</tr>
							<tr>
								<th>Gateway:</th><td>{{ req.gateway }}</td>
							</tr>
							<tr>
								<th>Date sent:</th><td>{{ req.date_sent|date('Y-m-d') }}</td>
							</tr>
							<tr>
								<th>Payment Amount:</th><td><b>{{ req.paid_amount|number_format(2, '.', ',') }}</b></td>
							</tr>
						</tbody>
					</table>

					<section class="receipt">
						<img src="{{ baseUrl() }}/{{ req.img_path }}" />
					</section>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% endblock %}
