{% extends 'master.twig' %}
{% block body %}
<div class="login" data-lbg="teal">
	<!-- Login -->
	<div class="l-block toggled" id="l-login">
		<div class="lb-header palette-Teal bg">
			<!-- <i class="zmdi zmdi-account-circle"></i> -->
			<img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 150px; max-width: auto;"/>
			<br>
			Login to your Account
		</div>

		<div class="lb-body">
			<form method="post" action="{{ urlFor('do_login') }}">
				<div class="form-group fg-float">
					<div class="fg-line">
						<input type="text" name="username" class="input-sm form-control fg-input" required>
						<label class="fg-label">Username</label>
					</div>
				</div>

				<div class="form-group fg-float">
					<div class="fg-line">
						<input type="password" name="password" class="input-sm form-control fg-input" required>
						<label class="fg-label">Password</label>
					</div>
				</div>

				<button class="btn palette-Teal bg">
					Sign in
				</button>
			</form>

			<div class="m-t-20">
				<a class="palette-Teal text d-block m-b-5" href="/registration">Creat an account</a>
				<a data-block="#l-forget-password" data-bg="purple" href="#" class="palette-Teal text">Forgot password?</a>
			</div>
		</div>
	</div>

	<!-- Forgot Password -->
	<div class="l-block" id="l-forget-password">
		<div class="lb-header palette-Purple bg">
			<i class="zmdi zmdi-account-circle"></i>
			Forgot Password?
		</div>

		<div class="lb-body">
			<p class="m-b-30">
				Lorem ipsum dolor fringilla enim feugiat commodo sed ac lacus.
			</p>

			<div class="form-group fg-float">
				<div class="fg-line">
					<input type="text" class="input-sm form-control fg-input">
					<label class="fg-label">Email Address</label>
				</div>
			</div>

			<button class="btn palette-Purple bg">
				Reset Password
			</button>

			<div class="m-t-30">
				<a class="palette-Purple text d-block m-b-5" href="/login">Already have an account?</a>
				<a href="/registration" class="palette-Purple text">Create an account</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block external_js %}

<script src="{{assetUrl}}js/backstrectch.js"></script>
<script>
	// To attach Backstrech as the body's background
	$(".login").backstretch([
	    "{{assetUrl}}images/login/image1.png",
	    "{{assetUrl}}images/login/image2.png",
	    "{{assetUrl}}images/login/image3.png"
	  ], {duration: 10000});
</script>

{% endblock %}