{% extends 'master.twig' %}
{% block body %}
<div class="login" data-lbg="teal">
	<!-- Register -->
	<div class="l-block toggled" id="l-register">
		<div class="lb-header palette-Teal bg">
			<!-- <i class="zmdi zmdi-account-circle"></i> -->
			<img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 150px; max-width: auto;"/>
			<br>
			Create New Account
		</div>

		<div class="lb-body">
			<form method="post" action="{{ urlFor('pre_registration') }}">
				<div class="form-group fg-float">
					<div class="fg-line">
						<input type="text" name="username" class="input-sm form-control fg-input" required>
						<label class="fg-label">Username</label>
					</div>
				</div>

				<div class="form-group fg-float">
					<div class="fg-line">
						<input type="text" name="email" class="input-sm form-control fg-input" required>
						<label class="fg-label">Email Address</label>
					</div>
				</div>

				<div class="form-group fg-float">
					<div class="fg-line">
						<input type="text" name="full_name" class="input-sm form-control fg-input" required>
						<label class="fg-label">Full Name</label>
					</div>
				</div>

				<button class="btn palette-Teal bg" type="submit">
					Create Account
				</button>

				<div class="m-t-30">
					<a class="palette-Teal text d-block m-b-5" href="/login">Already have an account?</a>
				</div>
			</form>

			{#
			<div class="checkbox m-b-30">
				<label>
					<input type="checkbox" value="">
					<i class="input-helper"></i> Accept the license agreement </label>
			</div>

			<div class="m-t-30">
				<a data-block="#l-login" data-bg="teal" class="palette-Teal text d-block m-b-5" href="#">Already have an account?</a>
				<a data-block="#l-forget-password" data-bg="purple" href="#" class="palette-Teal text">Forgot password?</a>
			</div>
			#}
		</div>
	</div>

</div>

{% endblock %}
