<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from byrushan.com/projects/mae/1-0/form-components.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 30 Nov 2016 10:57:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Vendor CSS -->
	<link href="{{assetUrl}}vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">

	<link href="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/farbtastic/farbtastic.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/summernote/dist/summernote.css" rel="stylesheet">

	<!-- CSS -->
	<link href="{{assetUrl}}css/app.min.1.css" rel="stylesheet">
	<link href="{{assetUrl}}css/app.min.2.css" rel="stylesheet">
	<link href="{{assetUrl}}css/custom.css" rel="stylesheet">
</head>

<body data-ma-header="teal">
	<header id="header" class="media">
		<div class="pull-left h-logo">
			<a href="index.html" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>
		</div>

		{% include 'avatar_menu.twig' %}
	</header>

	<section id="main">
		<section id="content">
			<div class="container">
				<div class="c-header">
					<h2>{{ title }}</h2>
				</div>

				<div class="card">
					<div class="card-header">
						<h2>Profile Details <small>user profile</small></h2>
					</div>

					<div class="card" id="profile-main">
						<div class="pm-overview c-overflow">
							<div class="pmo-pic">
								<div class="p-relative">
									<a href="#"> <img class="img-responsive" src="{{baseUrl()}}/assets/images/avatar/{{ user.avatar }}" alt=""> </a>

									<div class="dropdown pmop-message">
										<a data-toggle="dropdown" href="#" class="btn palette-White bg btn-float z-depth-1"> <i class="zmdi zmdi-comment-text-alt"></i> </a>

										<div class="dropdown-menu">
											<textarea placeholder="Write something..."></textarea>																																																																																																																																										


											<button class="btn bgm-green btn-float">
												<i class="zmdi zmdi-mail-send"></i>
											</button>
										</div>
									</div>
									
									<a href="javascript:void(0)" onclick="uploadAvatar()" class="pmop-edit"> <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span> </a>
									
									<form method="post" action="{{ urlFor('update_avatar') }}" enctype="multipart/form-data">
										<input id="upload-avatar" type="file" name="upload_avatar" style="display: none;" onchange="javascript:this.form.submit();"/>
									</form>
								</div>

								<div class="pmo-stat">
									<h2 class="m-0 c-white">₱ {{ total_user_earnings }}</h2>
									Total Earnings
								</div>
							</div>

							<div class="pmo-block pmo-items hidden-xs">
								<h2>Direct Referrals</h2>

								<div class="pmob-body">
									<div class="row">
										{% for direct_referral in direct_referrals %}
										<a href="#" class="col-xs-2" title="{{ direct_referral.username }}"> <img class="img-circle" src="{{baseUrl()}}/assets/images/avatar/{{ direct_referral.avatar }}" alt=""> </a>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>

						<div class="pm-body clearfix">
							<div class="pmb-block">
								<div class="pmbb-header">
									<h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>

									<ul class="actions">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a data-pmb-action="edit" href="#">Edit</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="pmbb-body p-l-30">
									<div class="pmbb-view">
										<dl class="dl-horizontal">
											<dt>
												Ref. Code
											</dt>
											<dd>
												{{ user.ref_code }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Username
											</dt>
											<dd>
												{{ user.username }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Full Name
											</dt>
											<dd>
												{{ user.full_name }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Birthday
											</dt>
											<dd>
												{{ user.birthday | date('M d, Y') }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Matrix Tables
											</dt>
											<dd>
												{{ user.matrix_count }}
											</dd>
										</dl>

									</div>

									<div class="pmbb-edit">
										<form method="post" action="{{ urlFor('update_basic_info') }}">
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Full Name
												</dt>
												<dd>
													<div class="fg-line">
														<input type="text" name="full_name" class="form-control" placeholder="eg. Mallinda Hollaway" required>
													</div>

												</dd>
											</dl>
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Birthday
												</dt>
												<dd>
													<div class="dtp-container dropdown fg-line">
														<input type='text' class="form-control date-picker" name="birthday"  placeholder="Click here... to pick date" required>
													</div>
												</dd>
											</dl>

											<div class="m-t-30">
												<button class="btn btn-primary btn-sm" type="submit">
													Save
												</button>
												<button data-pmb-action="reset" class="btn btn-link btn-sm">
													Cancel
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="pmb-block">
								<div class="pmbb-header">
									<h2><i class="zmdi zmdi-accounts-list m-r-5"></i> Bank Details</h2>

									<ul class="actions">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a data-pmb-action="edit" href="#">Edit</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="pmbb-body p-l-30">
									<div class="pmbb-view">
										<dl class="dl-horizontal">
											<dt>
												Bank Name
											</dt>
											<dd>
												{{ user.bank_name }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Account Name
											</dt>
											<dd>
												{{ user.account_name }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Account Number
											</dt>
											<dd>
												{{ user.account_number }}
											</dd>
										</dl>

									</div>

									<div class="pmbb-edit">
										<form method="post" action="{{ urlFor('update_bank_details') }}">
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Bank Name
												</dt>
												<dd>
													<div class="dtp-container dropdown fg-line">
														<input type="text" name="bank_name" value="{{ user.bank_name }}" class="form-control" placeholder="eg. Security Bank">
													</div>
												</dd>
											</dl>
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Account Name
												</dt>
												<dd>
													<div class="fg-line">
														<input type="text" name="account_name" value="{{ user.account_name }}" class="form-control" placeholder="eg. Mallinda Hollaway">
													</div>

												</dd>
											</dl>
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Account Number
												</dt>
												<dd>
													<div class="dtp-container dropdown fg-line">
														<input type="text" name="account_number" value="{{ user.account_number }}" class="form-control" placeholder="eg. xx-xxxx-xx">
													</div>
												</dd>
											</dl>

											<div class="m-t-30">
												<button class="btn btn-primary btn-sm">
													Save
												</button>
												<button data-pmb-action="reset" class="btn btn-link btn-sm">
													Cancel
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="pmb-block">
								<div class="pmbb-header">
									<h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

									<ul class="actions">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a data-pmb-action="edit" href="#">Edit</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="pmbb-body p-l-30">
									<div class="pmbb-view">
										<dl class="dl-horizontal">
											<dt>
												Contact Number
											</dt>
											<dd>
												{{ user.contact_no }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Email Address
											</dt>
											<dd>
												{{ user.email }}
											</dd>
										</dl>
									</div>

									<div class="pmbb-edit">
										<form method="post" action="{{ urlFor('update_contact_details') }}">
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Contact Number
												</dt>
												<dd>
													<div class="fg-line">
														<input type="text" name="contact_no" value="{{ user.contact_no }}" class="form-control" placeholder="eg. 00971 12345678 9">
													</div>
												</dd>
											</dl>
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Email Address
												</dt>
												<dd>
													<div class="fg-line">
														<input type="email" name="email" value="{{ user.email }}" class="form-control" placeholder="eg. malinda.h@gmail.com">
													</div>
												</dd>
											</dl>

											<div class="m-t-30">
												<button class="btn btn-primary btn-sm">
													Save
												</button>
												<button data-pmb-action="reset" class="btn btn-link btn-sm">
													Cancel
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							{% if (can_change_password) %}
							<div class="pmb-block">
								<div class="pmbb-header">
									<h2><i class="zmdi zmdi-lock m-r-5"></i> Security Password</h2>

									<ul class="actions">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a data-pmb-action="edit" href="#">Edit</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="pmbb-body p-l-30">
									<div class="pmbb-view">
										<dl class="dl-horizontal">
											<dt>
												Username
											</dt>
											<dd>
												{{ user.username }}
											</dd>
										</dl>
										<dl class="dl-horizontal">
											<dt>
												Password
											</dt>
											<dd>
												********
											</dd>
										</dl>
									</div>

									<div class="pmbb-edit">
										<form method="post" action="{{ urlFor('update_password') }}">
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Current Password
												</dt>
												<dd>
													<div class="fg-line">
														<input type="password" name="current_password" class="form-control" placeholder="**********">
													</div>
												</dd>
											</dl>

											<dl class="dl-horizontal">
												<dt class="p-t-10">
													New Password
												</dt>
												<dd>
													<div class="fg-line">
														<input type="password" name="new_password" class="form-control" placeholder="**********">
													</div>
												</dd>
											</dl>

											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Confirm Password
												</dt>
												<dd>
													<div class="fg-line">
														<input type="password" name="confirm_password" class="form-control" placeholder="**********">
													</div>
												</dd>
											</dl>

											<div class="m-t-30">
												<button class="btn btn-primary btn-sm">
													Save
												</button>
												<button data-pmb-action="reset" class="btn btn-link btn-sm">
													Cancel
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>

							<div class="pmb-block">
								<div class="pmbb-header">
									<h2><i class="zmdi zmdi-pin-account m-r-5"></i> Account Pin Code</h2>

									<ul class="actions">
										<li class="dropdown">
											<a href="#" data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i> </a>

											<ul class="dropdown-menu dropdown-menu-right">
												<li>
													<a data-pmb-action="edit" href="#">Edit</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="pmbb-body p-l-30">
									<div class="pmbb-view">
										<dl class="dl-horizontal">
											<dt>
												Pin Code
											</dt>
											<dd>
												********
											</dd>
										</dl>
									</div>

									<div class="pmbb-edit">
										<form method="post" action="{{ urlFor('update_pin_code') }}">
											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Current Pin Code
												</dt>
												<dd>
													<div class="fg-line">
														<input type="password" name="current_pin_code" class="form-control" placeholder="**********">
													</div>
												</dd>
											</dl>

											<dl class="dl-horizontal">
												<dt class="p-t-10">
													New Pin Code
												</dt>
												<dd>
													<div class="fg-line">
														<input type="password" name="new_pin_code" class="form-control" placeholder="**********">
													</div>
												</dd>
											</dl>

											<dl class="dl-horizontal">
												<dt class="p-t-10">
													Confirm Pin Code
												</dt>
												<dd>
													<div class="fg-line">
														<input type="password" name="confirm_pin_code" class="form-control" placeholder="**********">
													</div>
												</dd>
											</dl>

											<div class="m-t-30">
												<button class="btn btn-primary btn-sm">
													Save
												</button>
												<button data-pmb-action="reset" class="btn btn-link btn-sm">
													Cancel
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
		</section>

		<footer id="footer">
			Copyright &copy; 2016 UpNext - Trading
		</footer>
	</section>

	<!-- Page Loader -->
	<div class="page-loader palette-Teal bg">
		<div class="preloader pl-xl pls-white">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"/>
			</svg>
		</div>
	</div>

	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	<script src="{{assetUrl}}vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="{{assetUrl}}vendors/summernote/dist/summernote-updated.min.js"></script>

	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
	<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
	<![endif]-->

	<script src="{{assetUrl}}vendors/bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/fileinput/fileinput.min.js"></script>
	<script src="{{assetUrl}}vendors/input-mask/input-mask.min.js"></script>
	<script src="{{assetUrl}}vendors/farbtastic/farbtastic.min.js"></script>

	<script src="{{assetUrl}}js/functions.js"></script>
	<script src="{{assetUrl}}js/actions.js"></script>
	<script src="{{assetUrl}}js/demo.js"></script>
	
	<script>
		function uploadAvatar() {
			$("#upload-avatar").trigger('click');
		}
	</script>
</body>
</html>