{% extends 'loader/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header module-head">
		<h1>{{ title }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box box-success box-solid" id="load-commision">
			<div class="box-body table-responsive">
				<table class="table table-hover">
					<tbody>
						<tr>
							<th>TOTAL:</th>
							<td>P {{ acs_income|number_format(2, '.', ',') }}</td>
						</tr>
					</tbody>		
				</table>	
			</div><!-- /.box-body -->
		</div><!-- /.box -->

		<div class="box box-success box-solid">
			<div class="box-header">
				<h3 class="box-title"><b>ACS Load Income</b></h3>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive">
				<table id="acs-payout" class="table table-bordered table-striped table-hover data-tables">
					<thead>
						<tr>
							<th>Week</th>
							<th>Amount</th>
							<th>Status</th>
							<th>Approved by</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>Week</th>
							<th>Amount</th>
							<th>Status</th>
							<th>Approved by</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</section><!-- /.content -->

	{% endblock %}
