<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from byrushan.com/projects/mae/1-0/form-components.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 30 Nov 2016 10:57:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Vendor CSS -->
	<link href="{{assetUrl}}vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">

	<link href="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/farbtastic/farbtastic.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/summernote/dist/summernote.css" rel="stylesheet">
	
	<link href="{{assetUrl}}vendors/dataTables/datatables.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">

	<!-- CSS -->
	<link href="{{assetUrl}}css/app.min.1.css" rel="stylesheet">
	<link href="{{assetUrl}}css/app.min.2.css" rel="stylesheet">
	<link href="{{assetUrl}}css/custom.css" rel="stylesheet">
	<link href="{{assetUrl}}css/toastr/toastr.min.css" rel="stylesheet">
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Following CSS are used only for the Demp purposes thus you can remove this anytime. -->
	<style type="text/css">
		.toggle-switch .ts-label {
			min-width: 130px;
		}
	</style>
</head>

<body data-ma-header="teal">
	<header id="header" class="media">
		<div class="pull-left h-logo">
			<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>
		</div>

		<!-- includes view of avatar -->
		{% include 'avatar_menu.twig' %}
	</header>

	<section id="main">
		<section id="content">
			<div class="container">
				<div class="c-header">
					<h2>Activation Codes</h2>
				</div>

				<div class="card">
					<div class="card-header">
						<a href="#purchase-code-modal" data-toggle="modal" class="btn btn-success btn-icon waves-effect waves-circle waves-float pull-right" title="Purchase Activation Code"><i class="zmdi zmdi-plus zmdi-hc-fw"></i></a>
						<h3>Purchase Transactions <small>lorem ipsum dolor waeetzee.</small></h3>
						<p>
							<a href="/member/geneology/{{user.id}}">Go to Platforms</a>
						</p>
					</div>

					<div class="card-body card-padding">
						<div class="table-responsive">
							<table id="tbl-purchases" class="table table-striped">
								<thead>
									<tr>
										<th>Reference Code</th>
										<th>Quantity</th>
										<th>Total Amount</th>
										<th>Bitcoin Amount</th>
										<th>Payment Method</th>
										<th>Purchase status</th>
										<th>Remarks</th>
										<th>Action</th>
										<th>Date Created</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer id="footer">
			Copyright &copy; 2016 UpNext - Trading
		</footer>
	</section>

	<!-- Page Loader -->
	<div class="page-loader palette-Teal bg">
		<div class="preloader pl-xl pls-white">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"/>
			</svg>
		</div>
	</div>
	
	<!-- Modal Purchase Codes -->
	<div class="modal fade" id="purchase-code-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-credit-card" aria-hidden="true"></i> Purchase Activation Code</h4>
				</div>
				<div class="modal-body">
					<div class="card-header">
					 	<small>Activation Code Amount</small>
						<h1>₱ {{ membership_fee | number_format(2, '.', ',') }}</h1>
						<h1><i class="fa fa-btc" aria-hidden="true"></i> <span id="amount_in_btc">0.00000000</span></h1>
					</div>
					<div class="card-body card-padding">
						<form method="post" action="{{ urlFor('payment_activation') }}" id="form-submit-activation" enctype="multipart/form-data">
							<input type="hidden" name="redirect" value="{{ request_uri }}" >
							<div class="row">
								<div class="radio m-b-15">
									<label> <!-- cash payment method -->
										<input type="radio" name="payment_method" value="1" required checked>
										<i class="input-helper"></i> Cash </label>
								</div>
							</div>
							<div class="row">
								<div class="radio m-b-15">
									<label> <!-- cash payment method -->
										<input type="radio" name="payment_method" value="2" required>
										<i class="input-helper"></i> Bank Deposit &nbsp; <a href="#banks-modal" data-toggle="modal">Company Bank Accounts</a></label>
								</div>
							</div>
							<div class="row">
								<div class="radio m-b-15">
									<label> <!-- bitcoin payment method -->
										<input type="radio" name="payment_method" value="3" required>
										<i class="input-helper"></i> Remittance</label>
								</div>
							</div>
							<div class="row">
								<div class="radio m-b-15">
									<label> <!-- bitcoin payment method -->
										<input type="radio" name="payment_method" value="4" required>
										<i class="input-helper"></i> Bitcoin Send Payment</label>
								</div>
							</div>
							<div class="row">
								<div class="card-body card-padding">
									<div class="row" id="btc-payment-container" style="display: none;">
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<label>Send to this Bitcoin Address</label>
												<input type="hidden" name="company_wallet_address" value="{{ company_btc_wallet }}">
												<input type="text" class="form-control input-mask" value="{{ company_btc_wallet }}" disabled>
											</div>
										</div>
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<label>Your Bitcoin Wallet Address</label>
												<input type="hidden" name="btc_amount">
												<input type="text" class="form-control input-mask" name="external_bitcoin_address">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<label>Quantity</label>
												<input type="number" class="form-control input-mask" name="quantity" value="1" min="1" max="100" required>
											</div>
										</div>
										<div class="col-sm-6 m-b-20">
											<div class="form-group fg-line">
												<label>Upload Proof of Payment</label>
												<input type="file" class="form-control input-mask" name="payment_proofs[]" id="proof-of-payments" required multiple>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 m-b-20">
											<div class="form-group fg-line">
												<label>Remarks</label>
												<textarea class="form-control auto-size" name="remarks" placeholder="enter remarks (optional)"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="card-body card-padding">
									<div class="form-group fg-line">
										<button class="btn palette-Teal bg waves-effect" type="button" onclick="onsubmitActivation()">
											<i class="fa fa-unlock" aria-hidden="true"></i> Send Request for Activation Codes
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal Purchase Codes -->
	
	<!-- Modal Banks -->
	<div class="modal fade" id="banks-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"><i class="fa fa-credit-card" aria-hidden="true"></i> Company Bank Account List</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="font-weight: bold;">Bank Name</th>
										<th style="font-weight: bold;">Account Number</th>
										<th style="font-weight: bold;">Account Name</th>
									</tr>
								</thead>
								<tbody>
									{% for bank in banks %}
									<tr>
										<td>{{ bank.bank_name }}</td>
										<td>{{ bank.bank_account_no }}</td>
										<td>{{ bank.bank_account_name }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Modal Banks -->

	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	<script src="{{assetUrl}}vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="{{assetUrl}}vendors/summernote/dist/summernote-updated.min.js"></script>

	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
	<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
	<![endif]-->

	<script src="{{assetUrl}}vendors/dataTables/datatables.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/fileinput/fileinput.min.js"></script>
	<script src="{{assetUrl}}vendors/input-mask/input-mask.min.js"></script>
	<script src="{{assetUrl}}vendors/farbtastic/farbtastic.min.js"></script>
	<script src="{{assetUrl}}js/toastr/toastr.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#tbl-purchases").dataTable({
				"processing" : true,
				"serverSide" : true,
				"ajax" : {
					"url" : "{{ urlFor('activation_purchase_paginated_list') }}",
					"type" : "POST",
					"data" : {}
				},
				drawCallback : function(response) {
					console.log(response.json);
				}
			});
		});
	</script>

	<script src="{{assetUrl}}js/functions.js"></script>
	<script src="{{assetUrl}}js/actions.js"></script>
	<script src="{{assetUrl}}js/demo.js"></script>
	<!-- Data Table -->
	
	<script src="{{assetUrl}}js/socket.io.2/node_modules/socket.io-client/socket.io.js"></script>
	<script>
		var btc_value = {};
		
		WORKERS_SOCKET = io.connect('{{baseUrl()}}:8888');
		WORKERS_SOCKET.on('current_bitcoin_rate', function(msg) {
			console.log(msg);
			btc_value = msg;
			$("#btc_rate").text(msg.bitcoin);
			updateBitcoinAmountLabel();
		});
	
		$("[name=quantity]").change(function() {
			var totalAmount = this.value * "{{ membership_fee }}";
			$("#cash-total-amount").text("₱ " + totalAmount);
		});
		
		$("input[name=payment_method]").change(function(){
			$("#btc-payment-container").hide();
			$("input[name=external_bitcoin_address]").removeAttr("required");
			$("#proof-of-payments").attr("required", true);
			if (this.value == 4) {
				$("#btc-payment-container").show();
				$("input[name=external_bitcoin_address]").attr("required", true);
			}
			
			if (this.value == 1) {
				$("#proof-of-payments").removeAttr("required");
			}
		});
		
		function updateBitcoinAmountLabel() {
			var btc_amount = btc_value.bitcoin_rate;
			var total_amount = 1 * "{{ membership_fee }}";
			
			var bitcoin_amount = total_amount / btc_amount;
			//console.log(bitcoin_amount.toFixed(8), total_amount);
			
			$("#amount_in_btc").text(bitcoin_amount.toFixed(8));
			$("input[name=btc_amount]").val(bitcoin_amount);
		}
		
		function onsubmitActivation() {
			var r = confirm("Are you sure do you want to submit this request?");
			if (r == true) {
				$("#form-submit-activation").submit();
			}
		}
	</script>

	<script>
		{% if flash.message %}
		{% if flash.message_status == true %}
		toastr.success("{{flash.message}}");
		{% else %}
		toastr.error("{{flash.message}}");
		{% endif %}
		{% endif %}

		toastr.options = {
			"closeButton" : true,
			"debug" : false,
			"progressBar" : true,
			"preventDuplicates" : false,
			"positionClass" : "toast-top-right",
			"onclick" : null,
			"showDuration" : "400",
			"hideDuration" : "1000",
			"timeOut" : "7000",
			"extendedTimeOut" : "1000",
			"showEasing" : "swing",
			"hideEasing" : "linear",
			"showMethod" : "fadeIn",
			"hideMethod" : "fadeOut"
		};
	</script>

</body>
</html>