<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<!-- Mirrored from byrushan.com/projects/mae/1-0/form-components.html by HTTrack Website Copier/3.x [XR&CO'2013], Wed, 30 Nov 2016 10:57:54 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{assetUrl}}img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Vendor CSS -->
	<link href="{{assetUrl}}vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/google-material-color/dist/palette.css" rel="stylesheet">

	<link href="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/farbtastic/farbtastic.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
	<link href="{{assetUrl}}vendors/summernote/dist/summernote.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- CSS -->
	<link href="{{assetUrl}}css/app.min.1.css" rel="stylesheet">
	<link href="{{assetUrl}}css/app.min.2.css" rel="stylesheet">
	<link href="{{assetUrl}}css/custom.css" rel="stylesheet">
	<link href="{{assetUrl}}css/toastr/toastr.min.css" rel="stylesheet">

	<!-- Following CSS are used only for the Demp purposes thus you can remove this anytime. -->
	<style type="text/css">
		.toggle-switch .ts-label {
			min-width: 130px;
		}
	</style>
</head>

<body data-ma-header="teal">
	<header id="header" class="media">
		<div class="pull-left h-logo">
			<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>
		</div>

		<!-- includes view of avatar -->
		{% include 'avatar_menu.twig' %}
	</header>

	<section id="main">
		<section id="content">
			<h1 style="color: white;">Please wait until your payment has been verified by the system administrator to activate your account.</h1>
		</section>

		<footer id="footer">
			Copyright &copy; 2016 UpNext - Trading
		</footer>
	</section>
	
	<!-- Page Loader -->
	<div class="page-loader palette-Teal bg">
		<div class="preloader pl-xl pls-white">
			<svg class="pl-circular" viewBox="25 25 50 50">
				<circle class="plc-path" cx="50" cy="50" r="20"/>
			</svg>
		</div>
	</div>

	<!-- Javascript Libraries -->
	<script src="{{assetUrl}}vendors/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/Waves/dist/waves.min.js"></script>
	<script src="{{assetUrl}}vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

	<script src="{{assetUrl}}vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
	<script src="{{assetUrl}}vendors/summernote/dist/summernote-updated.min.js"></script>

	<!-- Placeholder for IE9 -->
	<!--[if IE 9 ]>
	<script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
	<![endif]-->

	<script src="{{assetUrl}}vendors/bower_components/chosen/chosen.jquery.min.js"></script>
	<script src="{{assetUrl}}vendors/fileinput/fileinput.min.js"></script>
	<script src="{{assetUrl}}vendors/input-mask/input-mask.min.js"></script>
	<script src="{{assetUrl}}vendors/farbtastic/farbtastic.min.js"></script>
	<script src="{{assetUrl}}vendors/bower_components/autosize/dist/autosize.min.js"></script>
	<script src="{{assetUrl}}js/toastr/toastr.min.js"></script>

	<script src="{{assetUrl}}js/functions.js"></script>
	<script src="{{assetUrl}}js/actions.js"></script>
	<script src="{{assetUrl}}js/demo.js"></script>
	
</body>
</html>