{% extends 'admin/index.twig' %}

{% block ext_css %}
<link href="{{assetUrl}}vendors/dataTables/datatables.min.css" rel="stylesheet">
<link href="{{assetUrl}}vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<style>
.foot-bold {
	font-weight: bold;
	color: black;
	font-size: 14px;
}
</style>
{% endblock %}

{% block body %}
<link href="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="index.html" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes view of avatar -->
	{% include 'avatar_menu.twig' %}
</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<!-- includes admin side panel navigation -->
		{% include 'admin/admin_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

		</div>

		<div class="card">
			<div class="card-header">
				<h2>Company Allocations
					<small>lorem ipsum dolor waeetzee.</small>
				</h2>
			</div>

			<div class="card-body card-padding">
				<div class="table-responsive">
					<table id="tbl-allocations" class="table table-striped">
						<thead>
							<tr>
								<th>Member Name</th>
								<th>Member Username</th>
								<th>Product Cost</th>
								<th>Operating Expenses</th>
								<th>Incentives</th>
								<th>Miscellaneous</th>
								<th>Sponsors Bonus</th>
								<th>Platforms Bonus</th>
								<th>Company A Profit</th>
								<th>Company B Profit</th>
								<th>DATE/TIME</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
		
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}vendors/dataTables/datatables.min.js"></script>
<script>
$("#tbl-allocations").dataTable({
	"processing" : true,
	"serverSide" : true,
	"ajax" : {
		"url" : "{{ urlFor('paginated_allocations') }}",
		"type" : "POST",
		"data" : {}
	},
	drawCallback : function(response) {
		console.log(response.json);
		appendAllocationTfoot(response.json);
	}
});

function appendAllocationTfoot(data) {
	$("#tbl-allocations tfoot").empty();
	var tfoot = '';
	tfoot += '<tfoot>';
	
	tfoot += 	'<tr>';
	tfoot += 		'<td colspan="11" style="letter-spacing: 15px; background-color: gray; color: white; font-weight: bold; text-align: center;">SUMMARY</td>';
	tfoot += 	'</tr>';
	
	tfoot += 	'<tr>';
	tfoot += 		'<td class="foot-bold">TOTAL</td>';
	tfoot += 		'<td></td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.product_cost+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.operating_exp+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.incentives+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.misc+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.direct+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.matrix+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.company_a_profit+'</td>';
	tfoot += 		'<td class="foot-bold">'+data.allocation_summary.company_b_profit+'</td>';
	tfoot += 		'<td></td>';
	tfoot += 	'</tr>';
	
	tfoot += 	'<tr>';
	tfoot += 		'<td colspan="2" class="foot-bold">TOTAL SUMMARY</td>';
	tfoot += 		'<td colspan="5" class="foot-bold" style="text-align: center; letter-spacing: 8px; font-size: 16px;">'+data.allocation_summary.total_company_income+'</td>';
	tfoot += 		'<td colspan="4"></td>';
	tfoot += 	'</tr>';
	
	tfoot += '</tfoot>';
	
		
	$("#tbl-allocations").append(tfoot);
}
</script>
{% endblock %}