<ul class="main-menu">
	<li id="geneology">
		<a href="/member/geneology/{{user.ref_code}}"><i class="zmdi zmdi-device-hub zmdi-hc-fw"></i> Platforms</a>
	</li>
	<li id="income_history">
		<a href="/member/income_history"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Income History</a>
	</li>
	<li id="exit_history">
		<a href="/member/exit_history"><i class="zmdi zmdi-format-list-bulleted zmdi-hc-fw"></i> Exit History</a>
	</li>
	<li id="stub_vouchers">
		<a href="/member/vouchers"><i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i> Stub/Vouchers</a>
	</li>
	{#
	<li class="sub-menu">
		<a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-view-compact"></i> Headers</a>

		<ul>
			<li>
				<a href="alternative-header.html">Altenative</a>
			</li>
			<li>
				<a href="colored-header.html">Colored</a>
			</li>
		</ul>
	</li>
	#}
</ul>