{% extends 'admin/index.twig' %}
{% block body %}
<link href="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="index.html" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes view of avatar -->
	{% include 'avatar_menu.twig' %}
</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<ul class="smm-alerts">
			{#
			<li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-email"></i>
			</li>
			<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-notifications"></i>
			</li>
			<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-view-list-alt"></i>
			</li>
			#}
		</ul>
		
		<!-- includes admin side panel navigation -->
		{% include 'admin/admin_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

			<div class="card">
				<div class="card-header">
					<h2>Unused Codes <small>lorem ipsum dolor waeetzee.</small></h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-unused-codes" class="table table-striped">
							<thead>
								<tr>
									<th data-column-id="id" data-type="numeric">ID</th>
									<th data-column-id="code">Code</th>
									<th data-column-id="issue_to">Issued To</th>
									<th data-column-id="date_created" data-order="desc">Date Created</th>
								</tr>
							</thead>
							<tbody>
								{% for unused_code in unused_codes %}
								<tr>
									<td>{{ unused_code.id }}</td>
									<td>{{ unused_code.generated_code }}</td>
									<td>{{ getUserdetails(unused_code._user_id).username }}</td>
									<td>{{ unused_code.created_at|date("M d, Y h:i:s") }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<h2>Used Codes <small>lorem ipsum dolor waeetzee.</small></h2>
			</div>

			<div class="card-body card-padding">
				<div class="table-responsive">
					<table id="tbl-used-codes" class="table table-striped">
						<thead>
							<tr>
								<th data-column-id="id" data-type="numeric">ID</th>
								<th data-column-id="code">Code</th>
								<th data-column-id="used_by">Used By</th>
								<th data-column-id="date_used" data-order="desc">Date Used</th>
							</tr>
						</thead>
						<tbody>
							{% for used_code in used_codes %}
							<tr>
								<td>{{ used_code.id }}</td>
								<td>{{ used_code.generated_code }}</td>
								<td>{{ used_code.username }}</td>
								<td>{{ used_code.updated_at|date("M d, Y h:i:s") }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

<script src="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
<!-- Data Table -->
<script type="text/javascript">
	$(document).ready(function() {
		$("#tbl-unused-codes").bootgrid({
			css : {
				icon : 'zmdi icon',
				iconColumns : 'zmdi-view-module',
				iconDown : 'zmdi-expand-more',
				iconRefresh : 'zmdi-refresh',
				iconUp : 'zmdi-expand-less'
			},
		});

		$("#tbl-used-codes").bootgrid({
			css : {
				icon : 'zmdi icon',
				iconColumns : 'zmdi-view-module',
				iconDown : 'zmdi-expand-more',
				iconRefresh : 'zmdi-refresh',
				iconUp : 'zmdi-expand-less'
			},
		});
	}); 
</script>

{% endblock %}