{% extends 'admin/index.twig' %}
{% block body %}
<link href="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">
<link href="{{assetUrl}}vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="index.html" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes view of avatar -->
	{% include 'avatar_menu.twig' %}
</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<ul class="smm-alerts">
			{#
			<li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-email"></i>
			</li>
			<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-notifications"></i>
			</li>
			<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-view-list-alt"></i>
			</li>
			#}
		</ul>

		<!-- includes admin side panel navigation -->
		{% include 'admin/admin_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

			<div class="card">
				<div class="card-header">
					<h3>Purchase Request List <small>lorem ipsum dolor waeetzee.</small></h3>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-purchase-list" class="table table-striped">
							<thead>
								<tr>
									<th data-column-id="id" data-type="numeric">ID</th>
									<th data-column-id="ref_code">Reference Code</th>
									<th data-column-id="username">Username</th>
									<th data-column-id="name">Name</th>
									<th data-column-id="codes_quantity">Codes Quantity</th>
									<th data-column-id="total_amount">Total Amount</th>
									<th data-column-id="btc_amount">Bitcoin Amount</th>
									<th data-column-id="payment_method">Payment Method</th>
									<th data-column-id="status">Purchase status</th>
									<th data-column-id="remarks">Remarks</th>
									<th data-column-id="commands" data-formatter="commands" data-sortable="false">Action</th>
									<th data-column-id="date_requested" data-order="desc">Date Requested</th>
								</tr>
							</thead>
							<tbody>
								{% for purchase_request in purchase_requests %}
								{% set payment_status = (purchase_request.status == 1) ? "Approved" : "For Approval" %}
								{% set payment_method = (purchase_request.payment_method == 1) ? "Cash" : "Bitcoin" %}
								<tr>
									<td>{{ purchase_request.id }}</td>
									<td>{{ purchase_request.reference_code }}</td>
									<td>{{ purchase_request.username }}</td>
									<td>{{ purchase_request.full_name }}</td>
									<td>{{ purchase_request.quantity }}</td>
									<td>₱ {{ purchase_request.total_amount | number_format(2, '.', ',') }}</td>
									<td>{{ purchase_request.btc_amount }}</td>
									<td>{{ payment_method }}</td>
									<td>{{ payment_status }}</td>
									<td>{{ purchase_request.remarks }}</td>
									<td></td>
									<td>{{ purchase_request.created_at|date("M d, Y h:i:s") }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

<script src="{{assetUrl}}vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
<script src="{{assetUrl}}vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<!-- Data Table -->
<script type="text/javascript">
	$(document).ready(function() {
		$("#tbl-purchase-list").bootgrid({
			css : {
				icon : 'zmdi icon',
				iconColumns : 'zmdi-view-module',
				iconDown : 'zmdi-expand-more',
				iconRefresh : 'zmdi-refresh',
				iconUp : 'zmdi-expand-less'
			},
			formatters : {
				"commands" : function(column, row) {
					return "<form method='post' action='{{ urlFor('approve_request') }}' id='form-approve-request-" + row.id + "'><input type='hidden' name='purchase_id' value=" + row.id + "><button type='button' title='Approve Request' onclick='onApproveRequestCode(" + row.id + ")' class=\"btn btn-default btn-icon waves-effect waves-circle waves-float\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-check\"></span></button></form>" 
						+ "<a href='/admin/codes/purchase/" + row.id + "/proofs' title='Proof of Payment' class=\"btn btn-default btn-icon waves-effect waves-circle waves-float\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-apps\"></span></a>";
				}
			}
		});
	});

	function onApproveRequestCode(purchase_id) {
		swal({
			title : "Are you sure you want to approve this purchase request?",
			text : "You will approve the purchase code request.",
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : "Yes, Approve it!",
			cancelButtonText : "No, cancel pls!",
			closeOnConfirm : false,
			closeOnCancel : false
		}, function(isConfirm) {
			if (isConfirm) {
				$("#form-approve-request-" + purchase_id).submit();
				swal("Approved!", "Purchase Request Successfully Approved!", "success");
			} else {
				swal("Cancelled", "Purchase request has been cancelled", "error");
			}
		});
	}
</script>

{% endblock %}