{% extends 'member/index.twig' %}

{% block ext_css %}
<link href="{{assetUrl}}vendors/dataTables/datatables.min.css" rel="stylesheet">
<link href="{{assetUrl}}vendors/dataTables/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}

{% block body %}

<input type="hidden" value="{{active_menu}}" name="module_name" />
<header id="header" class="media">
	<div class="pull-left h-logo">
		<a href="/member" class="hidden-xs"> <img src="{{assetUrl}}img/upnextlogo.png"  style="max-width: 250px; max-width: auto; margin-left: -33px; margin-top: -23px;"/> </a>

		<div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
			<div class="mc-wrap">
				<div class="mcw-line top palette-White bg"></div>
				<div class="mcw-line center palette-White bg"></div>
				<div class="mcw-line bottom palette-White bg"></div>
			</div>
		</div>
	</div>

	<!-- includes avatar menu -->
	{% include 'avatar_menu.twig' %}

	<div class="media-body h-search">
		<form class="p-relative">
			<input type="text" class="hs-input" name="search_bar" placeholder="Search member, enter username....">
			<i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
		</form>
	</div>

</header>

<section id="main">
	<aside id="s-main-menu" class="sidebar">
		<div class="smm-header">
			<i class="zmdi zmdi-long-arrow-left" data-ma-action="sidebar-close"></i>
		</div>

		<ul class="smm-alerts">
			{#
			<li data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-email"></i>
			</li>
			<li data-user-alert="sua-notifications" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-notifications"></i>
			</li>
			<li data-user-alert="sua-tasks" data-ma-action="sidebar-open" data-ma-target="user-alerts">
				<i class="zmdi zmdi-view-list-alt"></i>
			</li>
			#}
		</ul>
		
		<!-- includes member side panel navigation -->
		{% include 'member/member_side_panel.twig' %}
	</aside>

	<section id="content">
		<div class="container">
			<div class="c-header">
				<h2>{{title}}</h2>
			</div>

			<div class="card">
				<div class="card-header">
					<h2>Sponsorship Bonus
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-dr" class="table table-striped">
							<thead>
								<tr>
									<th>Referral Username</th>
									<th>Referral Name</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								{% set total_dr_earnings = 0 %}
								{% for dr_bonus in dr_bonuses %}
								{% set total_dr_earnings = total_dr_earnings + dr_bonus.dr_earnings %}
									<tr>
										<td>{{ getUserdetails(dr_bonus.recruitee_id).username }}</td>
										<td>{{ getUserdetails(dr_bonus.recruitee_id).full_name }}</td>
										<td style="font-weight: bold;">{{ dr_bonus.dr_earnings | number_format(2) }}</td>
										<td>{{ dr_bonus.created_at | date("F j, Y") }}</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="4" style="letter-spacing: 15px; background-color: gray; color: white; font-weight: bold; text-align: center;">SUMMARY</td>
								</tr>
								<tr>
									<td colspan="2" style="font-weight: bold; color: black;">TOTAL</td>
									<td style="font-weight: bold; font-size: 16px; color: black;">{{ total_dr_earnings | number_format(2) }}</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h2>Platforms Exit Bonus
						<small>lorem ipsum dolor waeetzee.</small>
					</h2>
				</div>

				<div class="card-body card-padding">
					<div class="table-responsive">
						<table id="tbl-dr" class="table table-striped">
							<thead>
								<tr>
									<th>Platform</th>
									<th>Earnings</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								{% set total_earnings = 0 %}
								{% for exit_bonus in exit_bonuses %}
								{% set total_earnings = total_earnings + dr_bonus.value %}
									<tr>
										<td>Platform {{ exit_bonus.tbl }}</td>
										<td style="font-weight: bold;">{{ exit_bonus.value | number_format(2) }}</td>
										<td>{{ exit_bonus.created_at | date("F j, Y") }}</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3" style="letter-spacing: 15px; background-color: gray; color: white; font-weight: bold; text-align: center;">SUMMARY</td>
								</tr>
								<tr>
									<td style="font-weight: bold; color: black;">TOTAL</td>
									<td style="font-weight: bold; font-size: 16px; color: black;">{{ total_earnings | number_format(2) }}</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<footer id="footer">
		Copyright &copy; 2016 UpNext - Trading
	</footer>
	
</section>

<!-- Page Loader -->
<div class="page-loader palette-Teal bg">
	<div class="preloader pl-xl pls-white">
		<svg class="pl-circular" viewBox="25 25 50 50">
			<circle class="plc-path" cx="50" cy="50" r="20"/>
		</svg>
	</div>
</div>

{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}vendors/dataTables/datatables.min.js"></script>
<script>
</script>
{% endblock %}