{% extends 'member/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header module-head">
		<h1>{{ title }}</h1>
	</section>
	<!-- Main content -->
	<section class="content">

		<div class="row">
			<div class="col-md-6">
				<div class="box box-success box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">ORDER FORM</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<!-- FLASH MESSAGE HERE -->
						{% if flash.message %}
						{% if flash.message_status == true %}
						<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
							{% else %}
							<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
								{% endif %}
								<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
									×
								</button>
								{{ flash.message }}
							</div>
							{% endif %}
							<!-- END FLASH MESSAGE HERE -->
							<form method="post" action="{{ urlFor('upload_image') }}" role="form" id="order-form" enctype="multipart/form-data">
								<input type="hidden" name="form_secret" id="form_secret" value="{{ form_secret }}" />
								<div class="form-group">
									<label>Sender's Name</label>
									<input type="text" class="form-control" name="sender" placeholder="full name of sender" required/>
								</div>

								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>No. of Codes</label>
											<select class="form-control" name="code_count" id="numcodes">
												{% for i in 1..20 %}
												<option>{{ i }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Amount</label>
											<input type="text" class="form-control" name="amount" placeholder="" id="codesamount" readonly="true"/>
										</div>
									</div>
								</div>

								<!-- BANK / CASH OPTION -->
								<section class="bank-cash-option">
									<!-- radio group  -->
									<div class="form-group">
										<div class="radio">
											<label>
												<input type="radio" id="opt-purchasecode-cash" name="opt_payment" value="0" checked="checked">
												<b>Cash</b></label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" id="opt-purchasecode-gateway" name="opt_payment" value="1">
												<b>Bank/Remittance</b></label>
										</div>
									</div>
									<!-- end of radio group  -->

									<div class="form-group bank-choice" id="bank-remit">
										<!-- <label>Gateway</label> -->
										<select class="form-control" id="gateway-name" class="form-control"  name="gateway">
											<optgroup label="BANKS">
												{% for bank in banks %}
												<option>{{bank.bank_name}} - {{bank.account_number}}</option>
												{% endfor %}
											</optgroup>
											<optgroup label="REMITTANCES">
												{% for remit in remits %}
												<option>{{remit}}</option>
												{% endfor %}
												<option value="1">- Other Remittances -</option>
											</optgroup>
										</select>
									</div>
									<div class="form-group" id="bank-remit-group">
										<label>Preferred Remittance</label>
										<input type="text" class="form-control" name="other_gateway" id="bank-remit" placeholder="indicate remittance"/>
									</div>
									<div class="form-group" id="refnum-group">
										<label>Reference number</label>
										<input type="text" class="form-control" name="reference_no" id="ref-number"/>
									</div>

									<div class="form-group" id="receipt-group">
										<label>Attach Receipt Image</label>
										<input type="file" name="img_upload" accept="image/*">
									</div>
								</section>
								<!-- end of BANK / CASH OPTION -->

								<!-- Date mm/dd/yyyy -->
								<div class="form-group">
									<label>Date Sent</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" name="date_sent" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'"  id="date-sent" data-mask required/>
									</div><!-- /.input group -->
								</div><!-- /.form group -->

								<!-- time Picker -->
								<div class="bootstrap-timepicker">
									<div class="form-group">
										<label>Time picker:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
											<input type="text" class="form-control timepicker" name="time_sent" required/>
										</div><!-- /.input group -->
									</div><!-- /.form group -->
								</div>

								<button class="btn btn-block btn-success" type="submit">
									Submit
								</button>
							</form>
							<!-- END OF FORM -->
						</div><!-- /.box body -->
					</div><!-- /.box -->
				</div>
				<!-- col-md-6 -->
				<div class="col-md-6">
					<div class="box box-success box-solid">
						<div class="box-header with-border">
							<h3 class="box-title">COMPANY BANK DETAILS</h3>
						</div><!-- /.box-header -->
						<div class="box-body">
							<!-- ACCOUNT DETAILS -->
							<table class="table no-border">
								<tbody>
									{% for bank in banks %}
									<tr>
										<th>Bank Name:</th><td>{{ bank.bank_name }}</td>
									</tr>
									<tr>
										<th>Account Name:</th><td>{{ bank.account_name }}</td>
									</tr>
									<tr>
										<th>Account Number:</th><td>{{ bank.account_number }}</td>
									</tr>
									<tr style="border-bottom:2px solid gray !important">
										<td colspan="2"></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!-- /.box body -->
					</div><!-- /.box -->
					
					{#
					<div class="box box-success box-solid">
						<div class="box-header with-border">
							<h3 class="box-title">COMPANY REMITTANCE DETAILS</h3>
						</div><!-- /.box-header -->
						<div class="box-body">
							<!-- ACCOUNT DETAILS -->
							<table class="table">
								<tbody>
									<tr>
										<th>Receiver</th><td>John Ediher Dayuta</td>
									</tr>
									<tr>
										<th>Address:</th><td>Bacoor,Cavite</td>
									</tr>
								</tbody>
							</table>
						</div><!-- /.box body -->
					</div><!-- /.box -->
					#}

				</div>
			</div>

			<div class="box box-success box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">ORDER STATUS</h3>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive">
					<table id="table-order-status" class="table datatable table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th>TRANSACTION NO</th>
								<th>DATE REQUEST</th>
								<th>TIME REQUEST</th>
								<th>GATEWAY</th>
								<th>AMOUNT</th>
								<th>DATE_SENT</th>
								<th>TIME_SENT</th>
								<th>REFERENCE NO</th>
								<th>NO OF CODES</th>
								<th>STATUS</th>
							</tr>
						</thead>
						<tbody>
							{% for req in requests %}
							{% set total = 12000 * req.no_of_codes %}
							<tr>
								<td>{{ req.id }}</td>
								<td>{{ req.created_at|date('Y-m-d') }}</td>
								<td>{{ req.created_at|date('h:i a') }}</td>
								<td>{{ req.gateway }}</td>
								<td>{{ total|number_format(2, '.', ',') }}</td>
								<td>{{ req.date_sent |date("m/d/Y") }}</td>
								<td>{{ req.time_sent|date('h:i a') }}</td>
								<td>{{ req.reference_no }}</td>
								<td>{{ req.no_of_codes }}</td>
								<td>{{ req.name }}</td>

							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>TRANSACTION NO</th>
								<th>DATE REQUEST</th>
								<th>TIME REQUEST</th>
								<th>GATEWAY</th>
								<th>AMOUNT</th>
								<th>DATE_SENT</th>
								<th>TIME_SENT</th>
								<th>REFERENCE NO</th>
								<th>NO OF CODES</th>
								<th>STATUS</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>

	</section><!-- /.content -->

	<script type="text/javascript">
		$(function() {
			//Datemask mm/dd/yyyy
			$("#date-sent").inputmask("mm/dd/yyyy", {
				"placeholder" : "mm/dd/yyyy"
			});

			$('#codesamount').val(commaSeparateNumber(12000));

			$('#numcodes').keyup(function() {

				var num = $('#numcodes').val();
				num = num * 12000;
				console.log(num);
				$('#codesamount').val(commaSeparateNumber(num));
			});

			$('#numcodes').change(function() {

				var num = $('#numcodes').val();
				num = num * 12000;
				console.log(num);
				$('#codesamount').val(commaSeparateNumber(num));
			});

			$('#refnum-group').hide();
			$('#receipt-group').hide();
			$('#bank-remit').hide();
			$('#bank-remit-group').hide();

			$('input[name=opt_payment][value="0"]').prop('checked', true);

			$('input[name=opt_payment]').change(function() {
				if (this.value == 0) {
					$('#refnum-group').hide();
					$('#receipt-group').hide();
					$('#bank-remit').hide();
					$('#bank-remit-group').hide();
				} else if (this.value == 1) {
					$('#refnum-group').show();
					$('#receipt-group').show();
					$('#bank-remit').show();
					$('#gateway-name').prop('selectedIndex', 0);
				}
			});

			$('#gateway-name').change(function() {
				if (this.value == 0 || this.value == 1) {
					$('#bank-remit-group').show();
				} else {
					$('#bank-remit-group').hide();
				}
			});

		});

		function commaSeparateNumber(val) {
			while (/(\d+)(\d{3})/.test(val.toString())) {
				val = val.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
			}
			return val;
		}

	</script>
	{% endblock %}

