<ul class="main-menu">
	<li id="admin_dashboard">
		<a href="/admin/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
	</li>
	<li id="account_activation">
		<a href="/admin/activation"><i class="fa fa-unlock" aria-hidden="true"></i> Account Activation</a>
	</li>
	<li id="admin_member_accounts">
		<a href="/admin/accounts"><i class="fa fa-users" aria-hidden="true"></i> Members</a>
	</li>
	<li class="sub-menu" id="codes_management">
		<a href="#" data-ma-action="submenu-toggle"><i class="zmdi zmdi-settings zmdi-hc-fw"></i> Codes Management</a>
		<ul>
			<li id="sub_used_unused_codes">
				<a href="/admin/codes">Used/Unused Codes</a>
			</li>
			<li id="sub_purchase_codes">
				<a href="/admin/codes/purchase/request">Purchase Codes Request</a>
			</li>
		</ul>
	</li>
</ul>