[data-lbg="teal"] {
 background-color: rgb(144, 111, 5);
}

.palette-Teal.bg {
     background-color: rgb(39, 1, 1);
}

.palette-Teal.text {
    color: #5d4703;
}

[data-ma-header="teal"]:before,
[data-ma-header="teal"] #header {
  background-color: #2b0101;
}

[data-ma-header="teal"] .smm-alerts > li.active,
[data-ma-header="teal"] .main-menu li.active > a {
  color: #940303;
}

a {
    color: #b30808;
    text-decoration: none;
}

a:hover, a:focus {
    color: #b18601;
    text-decoration: none;
}